.about-us {
  background-color: #ffffff;
  margin-bottom: 14px;

  &::before {
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
    content: "";
    display: block;
    height: 6px;
    margin-bottom: 28px;
    width: auto;
  }
}

.about-us__wrapper-1 {
  background-color: #ffffff;
  margin: 0 auto;
  width: 260px;
}

.about-us__title {
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 45px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__item {
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  position: relative;
}

.about-us__item::before {
  content: "";
  left: 4px;
  position: absolute;
  top: -10px;
}

.about-us__item--flower::before {
  background-image: url("../img/icon-feature-flower.svg");
  height: 37px;
  left: 9px;
  top: -13px;
  width: 32px;
}

.about-us__item--money::before {
  background-image: url("../img/icon-feature-money.svg");
  height: 27px;
  left: 1px;
  top: -12px;
  width: 47px;
}

.about-us__item--heart::before {
  background-image: url("../img/icon-feature-heart.svg");
  height: 27px;
  left: 8px;
  top: -7px;
  width: 34px;
}

.about-us__item--ball::before {
  background-image: url("../img/icon-feature-ball.svg");
  height: 34px;
  width: 35px;
}

.about-us__item--rocket::before {
  background-image: url("../img/icon-feature-rocket.svg");
  height: 23px;
  left: -5px;
  top: -9px;
  width: 55px;
}

.about-us__item--gift::before {
  background-image: url("../img/icon-feature-gift.svg");
  height: 32px;
  width: 33px;
}

.about-us__text {
  margin: 0;
  padding: 41px 0 42px;
}

@media (min-width: @tablet-width) {
  .about-us {
    margin-bottom: 26px;

    &::before {
      background-size: auto 15px;
      height: 15px;
      margin-bottom: 47px;
      width: auto;
    }
  }

  .about-us__wrapper-1 {
    width: 668px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
    margin-left: -4px;
  }

  .about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-us__item {
    font-size: 20px;
    line-height: 22px;
    width: 334px;

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--ball {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }

  .about-us__item::before {
    left: 4px;
    top: 4px;
  }

  .about-us__item--flower::before {
    left: 9px;
    top: 1px;
  }

  .about-us__item--money::before {
    left: 1px;
    top: 2px;
  }

  .about-us__item--heart::before {
    left: 8px;
    top: 7px;
  }

  .about-us__item--rocket::before {
    left: -5px;
    top: 5px;
  }

  .about-us__text {
    padding: 55px 0 56px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    margin-bottom: 33px;

    &::before {
      background-position-x: center;
      background-size: auto 23px;
      height: 23px;
      margin: 0 auto 62px;
      width: 1052px;
    }
  }

  .about-us__wrapper-1 {
    width: 700px;
  }

  .about-us__item {
    width: 350px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: -5px;
  }

  .about-us__list--right {
    margin-right: 50px;
  }
}
