.copyright__text {
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  margin-top: 28px;
}

.copyright__link {
  margin-left: 29px;
  margin-top: 23px;
}

.copyright__link svg {
  fill: @light-green;
}
