.copyright {
  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  margin-top: 28px;
}

.copyright__link {
  fill: @light-green;
  margin-left: 29px;
  margin-top: 23px;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }
}
