.order-form__title {
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 auto;
  width: 260px;
}

.order-form__description {
  color: @dark-gray;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 auto;
  width: 260px;
}

.order-form__fieldset {
  border: none;
  margin: 0 auto;
  width: 260px;
}

.order-form__contacts-list {
  margin: 0 auto;
  width: 260px;
}

.order-form__legend {
  color: @light-green;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
}

.order-form__label {
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.order-form__input {
  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
  color: @dark-gray;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;

  &:hover {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }

  &:active,
  &:focus {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }

  &::placeholder {
    opacity: 0.3;
  }
}

.order-form__input--phone {
  font-size: 19px;
}

.order-form__textarea {
  border: solid 2px #000000;
  box-sizing: border-box;
  color: @dark-gray;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 142px;
  line-height: 18px;
  resize: none;
  width: 260px;

  &:hover {
    border: solid 2px #62d1ba;
  }

  &:active,
  &:focus {
    border: solid 2px #62d1ba;
  }
}

.order-form__button {
  margin: 0 auto;
}

.order-form__notes {
  color: @dark-gray;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin: 0 auto;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .order-form__title {
    font-size: 43px;
    line-height: 50px;
    width: 668px;
  }

  .order-form__description {
    font-size: 17px;
    line-height: 30px;
    width: 668px;
  }

  .order-form__wrapper--colors,
  .order-form__wrapper--contacts {
    background-color: @light-gray;
  }

  .order-form__fieldset,
  .order-form__contacts-list {
    width: 668px;
  }

  .order-form__label {
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__legend {
    font-size: 17px;
  }

  .order-form__input {
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__notes {
    font-size: 17px;
    line-height: 30px;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__title {
    font-size: 53px;
    line-height: 57px;
  }

  .order-form__description {
    width: 670px;
  }

  .order-form__fieldset,
  .order-form__contacts-list {
    width: 930px;
  }
}
