.page-title {
  background-color: @light-gray;
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 30px;
  padding: 70px 30px 76px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-title {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 -14px;
    padding: 97px 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-title {
    font-size: 53px;
    line-height: 57px;
    margin: 0 auto;
    padding: 97px 30px;
  }
}
