.page-footer {
  background-color: @light-gray;
  padding-left: 70px;
  padding-right: 70px;
}

.page-footer__wrapper {
  background-color: @light-gray;
  margin: 0 auto;
  width: 180px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  min-height: 80px;
  padding: 0;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  min-height: 80px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__wrapper {
    display: flex;
    width: 668px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social,
  .page-footer__copyright {
    min-height: 143px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
