.page-title {
  background-color: @light-gray;
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  min-height: 176px;
  text-align: center;
}
