.weekly-top {
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
}

.weekly-top__wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 260px;
}

.weekly-top__title {
  color: @light-green;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.weekly-top__price {
  color: @dark-gray;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.weekly-top__description {
  color: @dark-gray;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
}

.weekly-top__name {
  color: #000000;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .weekly-top {
    padding-left: 50px;
    padding-right: 50px;
  }

  .weekly-top__wrapper {
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .weekly-top__wrapper {
    width: 1050px;
  }
}
